body{
    text-align: center;
    margin: 0;
}
header{
    background-color: #F15B31;
    color: #FFFFFF;
    padding: 30px 20px;
}


h1{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-decoration: underline;
    text-align: center;
    color: #0000ff;
    text-transform: capitalize;
    margin: 0;
}
p{
    font-family: "Ranga";
}
nav{
    background-color: #00A6B3;
    color: #FFFFFF;
    padding: 20px 0px;
}
a{
    margin: 0px 20px;
    text-decoration: none;
    display: block;

}

a:hover {
    background-color: #aaaaaa

main{
    width: 850px;
    margin: 35px auto;
}
img{
    margin: 40px 8px;
}




#h3-1{
    font-size: 100px;
    font-family: "Droid Serif";
}
.h3-body{
    color:  #00ff00;
}

/* elk*/
/*
body{
    font-size: 18px;
    font-family: "Arial";
}

h1{
    font-size: 36px;
}

h2{
    font-size: 27px;
    padding: 14px;
}

h1,h2 {
    text-transform: uppercase;
    border-bottom: 4px solid black;
    display: inline-block;
}

img{
    display: block;
    margin: 0 auto;
}

ul{
    list-style: none;
}

footer{
    text-align: center;
    padding: 18px 0;
}